/*No es necessari un media query per pantalles de PC (grans) ja que tot el format és compatible per mobils, tauletes i escriptoris*/
/*PRINCIPALS*/
* {
    box-sizing: border-box;
    font-weight: normal;
    font-family: sans-serif, Arial, Helvetica;
    transition: all 0.2s cubic-bezier(.22, .78, .51, .95);/*Quan es faci resize es mouen els elements de manera més "smooth" */
    background-color: white;
    font-size: 1.8vw;
}

@font-face {
	font-family: "Overwatch-Text";
	src: url("../fonts/overwatch-text.ttf");
}

@font-face {
	font-family: "Overwatch-Title";
	src: url("../fonts/overwatch-title.ttf");
}

html{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-image: url("/media/img/backround.jpg");
}

body{
    width: 95%;
    height: 110vh;
    margin-bottom: 10px;
    margin-top: 2px;
    background-color: transparent;
}

/***APARTAT HEADER****/
header{
    display: flex;
    font-size: 1.5vw;
    align-items: center;
    background-color: transparent;
}

header img{
    width: auto;
    height: 5vw;
    background-color: transparent;
}

header h1{
    font-size: 3vw;
    font-family: Overwatch-Title, sens-serif, Arial;
    color: white;
    margin-left: 22vw;
    background-color: transparent;
}

/***MAIN****/
main {
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/***APARTAT BUSCADOR****/
.searchContainer{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
    background-color: transparent;
    height: 200% !important;

}
input.searchContainer{
    background-color: white;
}

.searchContainer button{
    background-color: green;
    margin-left: 1.9vw;
    width: 8vw;
    height: 4vw;
    justify-self: center;
    align-self: center;
    color: black;
    font-size: 1vw;
    line-height: 0.8vw;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}
.searchContainer button:hover{
    background-color: red;
    cursor: pointer;
}

.characterList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    background-color: transparent;
    margin-top: -6vh;
}

.characterList img{
    width: 12vw;
    height: auto;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.characterList h2 {
    background-color: transparent;
    font-family: Overwatch-Text, sens-serif, Arial;
    font-size: 2vw;
}

.characterList p {
    background-color: transparent;
    font-family: Overwatch-Text, sens-serif, Arial;
    font-size: 1.5vw;
}

.characterContainer {
    background-color: rgb(235, 230, 230);
    width: 40vw;
    display: flex;
    flex-direction: row;
    margin-top: 3vw;
}

.characterContainer section{
    background-color: rgb(235, 230, 230);
    width: 40vw;
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    margin-left: 2vw;
}

.characterList button {
    color: rgb(253, 165, 2);
    border: none;
    background-color: transparent;
    align-self: flex-end;
    font-size: 7vh;
    margin-right: 2vw;
    cursor: pointer;
}
.characterList button:hover {
    color: blue;
    cursor: pointer;
  }
.characterContainer2 {
    display: flex;
    flex-direction: row;
    background-color: rgb(235, 230, 230);
    width: 70vw;
    margin-top: 3vw;
}

.characterContainer2 .left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.characterContainer2 .right section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*FOOTER*/
.section {
    background-color: transparent;
    width: 100%;
    margin-top: 20vw;
}
.section *{
    word-wrap: break-word;
    margin-left: 1vw;
    font-size: 1.3vw;
    background-color: transparent;
    text-align: center;
    color: white;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.section h2{
    font-size: 1vw;
}
/*No es necessari un media query per pantalles de PC (grans) ja que tot el format és compatible per mobils, tauletes i escriptoris*/
