<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="authors" content="Álvaro Martínez, Albert Garangou & Pau Hinojosa">
    <title>OVERWATCH CHARACTER LIST</title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/pages/index.css">
    <META NAME="robots" CONTENT="nofollow">
    <META name="description" content="Main Page for selecting and operate">
    <META name="keywords" content="API, overwatch, async, functions">

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer src="js/pages/index.js" type="module"></script>
    <link rel="icon" href="./media/img/icon.png">
</head>

<body>
    <header>
        <img src="./media/img/Logo-Overwatch.png" alt="pageLogo">
        <h1>OVERWATCH CHARACTERS</h1>
    </header>
    <main id="appOverWatch">
        <!--

        <form class="searchContainer">
            <button v-on:click="loadData()">SEARCH</button>
            <input class="searchInput" id="search" type="search" name="key" placeholder="Search here">
        </form>
        -->
        <search-form class="searchContainer"></search-form>

        <!--  <p v-if="searchInput">{{ searchInput }}</p>-->
        <p v-if="heroes.length">{{ heroes[0].key }}</p>
        <!--
            <div class="characterList" >
            <heroe-container
                v-for="heroe in heroes"
                v-bind:data="heroe"
                v-bind:key="heroe.key"
                
            >
                
            </heroe-container>
            

            <div class="characterContainer">
                <img src="./media/img/hanzo.jpeg" alt="Image of character" width="1019" height="1100">
                <section>
                    <h2>Hanzo</h2>
                    <p>Age: 38</p>
                    <p>Occupation: Mercenary</p>
                    <button>+</button>
                </section>
            </div>


            <div class="characterContainer2">
                <div class="left">
                    <p>Mercy</p>
                    <img src="./media/img/mercy.jpg" alt="Image of character" width="1019" height="1100">
                </div>
                <div class="right">
                    <p>Age: 38</p>
                    <p>Occupation: Mercenary</p>
                    <p>Base of operations: Zürich, Switzerland</p>
                    <p>Affiliation: Overwatch</p>
                    <p>Lore</p>
                    <section>
                            <h1>LORE</h1>
                            <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                            asdjhiubnnnnn</p>
                            <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                            asdjhiubnnnnn</p>
                            <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                                Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                            asdjhiubnnnnn</p>
                    </section>
                   
                    <button>-</button>
                </div>

                </div>
            <div class="characterContainer">
                <img src="./media/img/widowmaker.png" alt="Image of character" width="1019" height="1100">
                <section>
                    <h2>Hanzo</h2>
                    <p>Age: 38</p>
                    <p>Occupation: Mercenary</p>
                    <button>+</button>
                </section>
            </div>
       
        </div> -->
    </main>
</body>
